= form_for ([:admin, @step]) do |f|
  .fieldset
    .clearfix
      = f.label :name
      = f.text_field :name
    .clearfix
      = f.label :description
      = f.cktext_area :description
    .clearfix
      = f.label :image
      = f.file_field :image

  .actions
    = f.submit
    = link_to 'Back', tutorials_path, :class => 'btn'

