= form_for @step do |f|
  .fieldset
    .clearfix
      = f.label :name
      = f.text_field :name
    .clearfix
      = f.label :description
      = f.cktext_area :description
    - if @step && @step.image 
      .clearfix
        .centered_image= image_tag(@step.image.url(:slider), :class => "imgshadow")
    .clearfix
      = f.label :image
      = f.file_field :image

  .actions
    = f.submit
    = link_to 'Back', tutorials_path, :class => 'btn'

