.board
  %h2 Tutorials List

  %table.table-striped
    %tr
      %th Image
      %th Name
      %th Number of Steps
      %th Edit
      %th Destroy
    - @tutorials.each do |tutorial|
      %tr
        %td= link_to image_tag(tutorial.image.url(:thumb)), tutorial_path(tutorial)
        %td= link_to tutorial.name, tutorial_path(tutorial)
        %td= tutorial.steps.count
        %td= link_to 'Edit', edit_admin_tutorial_path(tutorial)
        %td= link_to 'Destroy', tutorial, :confirm => 'Are you sure?', :method => :delete

  %p

  = link_to 'New Tutorial', new_tutorial_path
