= simple_form_for(@article) do |f|
  = f.error_notification

  .fieldset
    .clearfix
      = f.input :name
    .clearfix
      = f.input :description
    .clearfix
      = f.input :featured
    .clearfix
      = f.input :remove_image
    .clearfix
      .centered_image= image_tag(@article.image.url(:slider), :class => "imgshadow")
    .clearfix
      = f.input :image

  .actions
    = f.button :submit
