.listing
  %center
    %h1.title JD's Attempt at a Blog
    %br
    %h4 A blog about electronics, robotics, building, Arduino, programming, or anything else that I feel compelled to share.
  %hr
  - @articles.each do |post|
    .row-fluid.article
      .span3
        = link_to image_tag(post.image.url(:medium), :class => "imgshadow"), article_path(post)
      .span9
        %h3= link_to post.name, post
        = truncate(post.description, :length => 300).html_safe
        %p
        .post_footer= "Most likely posted By: JD | #{post.created_at.strftime("Published on %m/%d/%Y at %I:%M%p")}"
    %hr
