%h2.title
  = link_to "Articles ", articles_path
  = "/ #{@article.name}" 
%center
  .google_ad_show= render "shared/google_ad_show"
.listing
  %p#notice= notice
  %center.white_box
    %h1= @article.name
    %h5= "posted: #{@article.posted_at}"
  %center
    = image_tag(@article.image.url(:large), :class => "imgshadow")
  %p
  .heading= @article.description.html_safe
  - if @article.galleries.present?
    - @object = @article
    = render 'shared/gallery', :content => @object
%p
= render :partial => "shared/disqus", :locals => { title: @article.name }
%p
  = link_to 'Back', :back

