= form_for ([:admin, @article]) do |f|
  .fieldset
    .clearfix
      = f.label :name
      = f.text_field :name
    .clearfix
      = f.label :description
      = f.cktext_area :description
    .clearfix
      = f.label :featured
      = f.check_box :featured
    .clearfix
      = f.label :remove_image
      = f.check_box :remove_image
    - if @article.image
      .clearfix
        .centered_image= image_tag(@article.image.url(:slider), :class => "imgshadow")
    .clearfix
      = f.label :image
      = f.file_field :image

  %p

  .actions
    = f.submit

