.navbar
  .navbar-inner
    .container
      %ul.nav
        %li= link_to "Home", root_path
        %li= link_to "About me", '/about_me'
        %li= link_to "Links", '/links'
        %li= link_to "Blog", articles_path
        %li= link_to "Projects", projects_path
        %li= link_to "Tutorials", tutorials_path
        %li= link_to "Forums", "/forums"
        - if current_user
          %li= link_to "Dashboard", dashboard_index_path
          - if current_user.forem_admin
            %li= link_to "Moderate", forem.admin_forums_path
          %li= link_to('Logout', destroy_user_session_path, :method => :delete)
        - else
          %li= link_to "Login", new_user_session_path
          %li= link_to "Register", new_user_registration_path


