.navbar
  .navbar-inner
    .container
      %ul.nav
        %li= link_to "Home", root_path
        %li= link_to "About me", '/about_me'
        %li= link_to "Links", '/links'
        %li= link_to "Articles", articles_path
        %li= link_to "Projects", projects_path
        %li= link_to "Tutorials", tutorials_path

      = form_tag({:controller => "home", :action => "search"}, :method => :post, :class => "navbar-search pull-right") do
        = text_field_tag "search"
        = submit_tag "search"

      %ul.nav.pull-right
        - if user_signed_in?
          %li= "Welcome #{current_user.email}"
          %li= link_to 'Logout', spree.destroy_user_session_path
        - else
          %li= link_to "Login", new_user_session_path
          %li= link_to "Register", new_user_registration_path


