.row-fluid
  %h2
    %center.title My name is JD Warren and I build things.
.row-fluid
  .heading
    %p
    I have taken apart nearly everything I have ever owned - to me it is more important to know how it works, than to actually have it work.
    %p
    Lately, I have transitioned from hardware hacking into the far more meticulous world of software. I work as a Ruby on Rails developer, building web applications at Isotope11. When i'm not at work coding or at home with my lovely wife, i'm probably in the garage hacking on something or writing about somthing i've just hacked.
    %p
    %h3 Here are a few publications that I have been in:
    %p
    = link_to "MAKE Magazine 22", "http://www.make-digital.com/make/vol22#pg1"
    %br
    = link_to "UAB alumni magazine", "http://www.uab.edu/uabmagazine/fall2010/departments/alumni"
    %br
    = link_to "Wired Magazine - 21 Awesome Hacks (#18)", "http://www.wired.com/magazine/2011/03/ff_makestuff_projects/"
    %br
    = link_to "Arduino Robotics (my new book)", "http://www.amazon.com/Arduino-Robotics-John-David-Warren/dp/1430231831"
    %p
    %h3 And a few videos:
    %p
    = link_to "MAKE: Latest in Arduino (02)", "http://blog.makezine.com/archive/2011/07/the-latest-in-arduino-episode-2.html"
    %br
    = link_to "MAKE: Latest in Arduino (03)", "http://www.youtube.com/watch?v=uhDou04jj7Q"
    %p


