.row-fluid
  %center
    %h2
      .title Welcome to Prototype Robotics
    %i the new home of Rediculouslygoodlooking.com
  .heading
    My old website
    = link_to "rediculouslygoodlooking.com", 'http://rediculous.prototyperobotics.com'
    was pretty basic, so I thought I would update it - I hope you will bear with me as I improve the site.
    %p
    If you are interested in my book "Arduino Robotics", you can check it out on Amazon:
    = link_to "Arduino Robotics", "http://www.amazon.com/Arduino-Robotics-John-David-Warren/dp/1430231831"

.row-fluid
  .span7
    #myCarousel.carousel.slide
      %h2 Featured Content
      = render 'shared/content_slider', :content => @featured_content
  .span5
    %h2 Recent Articles
    - @articles.each do |article|
      .article_image= link_to image_tag(article.image.url(:thumb), :class => "imgshadow"), article_path(article)
      %h4= article.name
      %br
      = article.created_at.strftime("Date: %m/%d/%Y")
      .space= link_to "view all articles", articles_path
      %p

.row-fluid
  .span6
    %h2 Recent Projects
    - @projects.each do |project|
      .span3
        %h4= project.name
        = link_to image_tag(project.image.url(:thumb), :class => "imgshadow"), project_path(project)
        =h truncate(project.description.html_safe, :length => 100 )
      %p
  .span6
    %h2 Recent Tutorials
    - @tutorials.each do |tutorial|
      .span3
        %h4= tutorial.name
        .project_image= link_to image_tag(tutorial.image.url(:thumb), :class => "imgshadow"), tutorial_path(tutorial)
        =h truncate(tutorial.description.html_safe, :length => 100 )
    .space= link_to "view all tutorials", tutorials_path
    %p

:javascript
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
