.row-fluid
  %center
    %h1
      .title Welcome to Prototype Robotics
    %i
      the new home of
      = link_to "Rediculouslygoodlooking.com", 'http://rediculous.prototyperobotics.com'
  .heading
    .row-fluid
      .span1.book
        = link_to image_tag("book.jpg", :class => "imgshadow"), "#"
      .span11
        %p
          If you are here to find out more about my book "Arduino Robotics",
          = link_to "click here", "http://prototyperobotics.com/blog/arduino-robotics"
          or you can check it out on Amazon:
          = link_to "Arduino Robotics.", "http://www.amazon.com/Arduino-Robotics-John-David-Warren/dp/1430231831"
        %p
          This site exists to help anyone who needs help, so if you would like to post a question or comment or need help with a specific project, please do so on the new
          = link_to "Forums.", forem.forums_path
          = " - I will personally answer your posts as soon as I get a chance."
        %p
          For those who have built a project from my book, please consider sharing it on my site. Once you register, you can go to
          = link_to "your Dashboard", dashboard_path
          and create a new project. You can add a description of your project and some images to show off your work.


.visible-desktop
  .row-fluid
    .span7
      %h2 Featured Content
      = render 'shared/nivo_slider', :content => @featured_content
    .span5
      %h2.inline Recent Articles
      %h5.inline= link_to "view all articles", articles_path
      - @articles.each do |article|
        .well
          .article
            .article_image= link_to image_tag(article.image.url(:thumb), :class => "imgshadow"), article_path(article)
            %h3= article.name
            %h5
              - if article.user
                = "posted by: #{article.user.username}"
              - else
                n/a
            %h5= article.created_at.strftime("Date: %m/%d/%Y")
.hidden-desktop
  .row-fluid
    .span12
      %h2.inline Recent Articles
      %h5.inline= link_to "view all articles", articles_path
      - @articles.each do |article|
        .well
          .article
            .article_image= link_to image_tag(article.image.url(:thumb), :class => "imgshadow"), article_path(article)
            %h3= article.name
            %h5
              - if article.user
                = "posted by: #{article.user.username}"
              - else
                n/a
            %h5= article.created_at.strftime("Date: %m/%d/%Y")

%hr
.row-fluid
  .span6
    %h2.inline Recent Projects
    %h5.inline= link_to "view all projects", projects_path
    - @projects.each do |project|
      .well
        .row-fluid
          .span3.pad
            = link_to image_tag(project.image.url(:thumb), :class => "imgshadow"), project_path(project)
          .span9
            %h4= link_to project.name, project_path(project)
            =h truncate(project.description, :length => 100 ).html_safe
  .span6
    %h2.inline Recent Tutorials
    %h5.inline= link_to "view all tutorials", tutorials_path
    - @tutorials.each do |tutorial|
      .well
        .row-fluid
          .span3.pad
            = link_to image_tag(tutorial.image.url(:thumb), :class => "imgshadow"), tutorial_path(tutorial)
          .span9
            %h4= link_to tutorial.name, tutorial_path(tutorial)
            =h truncate(tutorial.description, :length => 100 ).html_safe

