.container
  = render 'shared/content_slider', :posts => @featured_posts
.row
  %h2 Recent Posts
  - @posts.each do |post|
    .span-one-third
      %h4= post.title
      .post_image= link_to image_tag(post.image.url(:thumb)), post_path(post)
      %span.post_text= post.body
.row
  %h2 Recent Tutorials
  - @tutorials.each do |tutorial|
    .span-one-third
      %h4= tutorial.title
      = tutorial.body

:javascript
  $(window).load(function() {
    $('.flexslider').flexslider();
    });
