.board
  .pad
    %h1= "Search Results for '#{@search}'"

    - if @results.empty?
      %h3 Your search did not return any results.
    - else
      %h3= "Your search returned #{@results.count} results"

    .search_group
      - if !@results.empty?
        %h2 Results
        %ol
          - @results.each do |result|
            %li
              .well
                .row-fluid
                  .span2
                    = link_to image_tag(result.image.url(:thumb), :class => "imgshadow"), result
                  .span10
                    %h4
                      = link_to result.name, result
                      = "(#{result.class.name})"
                    =h truncate(result.description, :length => 250 ).html_safe

