.board
  %h2= @tutorial.name

  - if !@tutorial.steps.empty?
    - @tutorial.steps.each do |step|
      .step_box
        %b= step.step_number
        = link_to image_tag(step.image.url(:thumb)), step_path(step)
        = step.name.html_safe

  .clear_steps
    .tutorial_description
      = @tutorial.description.html_safe
