= form_for ([:admin, @project]) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this tutorial from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Project
    .clearfix
      = f.label :name
      .input= f.text_field :name
    .clearfix
      = f.label :description
      .input= f.cktext_area :description
    .clearfix
      = f.label :category
      .input= f.text_field :category
    .clearfix
      .inline
        = f.check_box :featured
      .inline
        = f.label :featured
    .clearfix
      .inline
        .input= f.check_box :published
      .inline
        = f.label :published
    - if @project.image
      = image_tag(@project.image.url(:thumb), :class => "imgshadow")
    .clearfix
      = f.label :image
      .input= f.file_field :image

  .actions
    = f.submit :submit, :class => 'btn primary'
    = link_to 'Back', tutorials_path, :class => 'btn'
