= simple_form_for(@project) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :description
    = f.input :category
    = f.input :published
    = f.input :featured
    = f.input :remove_image
    %p
    .centered_image= image_tag(@project.image.url(:slider), :class => "imgshadow")
    = f.input :image

  .actions
    = f.button :submit
