= form_for @project do |f|
  .fieldset
    .clearfix
      = f.label :name
      = f.text_field :name
    .clearfix
      = f.label :description
      = f.text_area :description, :rows => 7, :cols => 30
    .clearfix
      = f.label :category
      = f.text_field :category
    - if @project.image
      .clearfix
        = image_tag(@project.image.url(:thumb), :class => "imgshadow")
    .clearfix
      = f.label :image
      = f.file_field :image
    .clearfix
      = f.hidden_field :user_id

  %p

  .actions
    = f.submit

%hr

- if @project.id.present?
  .row-fluid
    %h3.pull-left Project Gallery
    .pull-right= link_to "Add Image to Gallery", new_image_path(project: @project.id), :class => "btn"

  - if @project.gallery.present?
    %hr
    .row-fluid
      - @project.gallery.images.each do |image|
        .inline
          %center
            .row
              = link_to image_tag(image.attachment.url(:thumb), :class => "imgshadow"), image.attachment.url
            .row
              = link_to "remove", image_remove_path(image), :confirm => "Are you sure you want to remove this image?"
  %hr
