= form_for @project do |f|
  .fieldset
    .clearfix
      = f.label :name
      = f.text_field :name
    .clearfix
      = f.label :description
      = f.text_area :description
    .clearfix
      = f.label :category
      = f.text_field :category
    - if @project.image
      .clearfix
        = image_tag(@project.image.url(:thumb), :class => "imgshadow")
    .clearfix
      = f.label :image
      = f.file_field :image
    .clearfix
      = f.hidden_field :user_id

  %p

  .actions
    = f.submit

