%h2.title
  = link_to "Projects ", projects_path
  = "/ #{@project.name}" 
.google_ad_show
  %center
    = render "shared/google_ad_show"
.listing
  %p#notice= notice

  %center.white_box
    %h3= @project.name
  %center
    = image_tag(@project.image.url(:large), :class => "imgshadow")
  %p
  .white_box
    = @project.description.html_safe
    %p

  - if @project.galleries.present?
    - @object = @project
    = render 'shared/gallery', :content => @object
%p
= render :partial => "shared/disqus", :locals => { title: @project.name }
%p
  = link_to 'Back', :back

