%h1 Listing posts

%table
  %tr
    %th Title
    %th Body
    %th User
    %th Featured

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.body
      %td= post.user.username
      %td= post.featured

%br
- if current_user
  = link_to 'New Post', new_post_path
