%p#notice= notice

%p
  %h2= @post.title
  = image_tag(@post.image.url(:large))
%p
  %b Body:
  = @post.body
%p
  %b User:
  = @post.user_id
%p
  %b Featured:
  = @post.featured
%p
  %b Project:
  = @post.project_id

- if current_user
  - if @post.user_id == current_user.id
    = link_to 'Edit', edit_post_path(@post)
    \|
= link_to 'Back', posts_path
