.board
  %h1.inline Admin Users List
  .pull-right= link_to 'New User', new_admin_user_path, :class => "btn btn-success"
  %p
  %table
    %tr
      %th Email
      %th Username
      %th Projects
      %th Site Admin
      %th Forum Admin
      %th Created at
      %th Actions

    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.username
        %td= user.projects.count
        %td= user.admin
        %td= user.forem_admin
        %td= user.created_at
        %td
          = "Edit"
          = "Destroy"


