.board.steps_listing
  %h2 Steps

  %table.table-striped
    %tr
      %th Image
      %th Step #
      %th Name
      %th Description
      - if current_user && current_user.has_role?("admin")
        %th Edit
        %th Destroy
    - @tutorial.steps.order("step_number ASC").each do |step|
      %tr
        %td= link_to image_tag(step.image.url(:thumb)), step_path(step)
        %td= step.step_number
        %td= link_to step.name, step_path(step)
        %td=h truncate(step.description.html_safe, :length => 150 )
        - if current_user && current_user.has_role?("admin")
          %td= link_to 'Edit', edit_step_path(step)
          %td= link_to 'Destroy', step, :confirm => 'Are you sure?', :method => :delete

  %p

  - if current_user && current_user.has_role?("admin")
    = link_to 'New Tutorial', new_tutorial_path
