<!DOCTYPE html>
%html
  %head
    %title Proto
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          .brand= link_to "Title", root_path
        %ul.nav
          %li.active
            = link_to "Home", root_path
          %li
            = link_to "About", root_path
          %li
            = link_to "Contact", root_path
    = yield

