<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "less" %>
    <%= csrf_meta_tags %>
    <%= render :partial => 'shared/menu'%>
  </head>
  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <br class="clear">
    </div>
  </body>
</html>
