<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "less" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='topbar'>
      <div class='topbar-inner'>
        <div class='container'>
          <a class='brand' href='#'>Prototype</a>
          <%= yield :title %>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <br class="clear">
    </div>
  </body>
</html>
