<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "less" %>
    <%= csrf_meta_tags %>
    <div class="container">
      <%= image_tag "logo_new_small.png", :width => "700px" %>
      <%= render :partial => 'shared/menu'%>
    </div>
  </head>
  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <br class="clear">
    </div>
  </body>
</html>
